## List of files not to sync
ESP32_Temperture-Node/src/secrets.h
*.tar.xz
ESP-IDF_ePaper/components/arduino
.vscode/
build/*
!build/*.bin
!build/*.elf
!build/*.map
!build/**/*.bin
!build/**/*.elf
!build/**/*.map
